<a href="https://colab.research.google.com/github/gibsonx/CE888/blob/master/Lab4%5Cmy_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3)

In [43]:
df = pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv', header=None)

In [44]:
print(df.shape)
df_jester = df.copy()
df_jester = df_jester.drop(df_jester.columns[0],axis=1)
arr = df_jester.values

(24983, 101)

In [45]:
df_jester = df_jester.replace(99,np.nan)
avg_list = df_jester.mean(axis=0)
print(avg_list.idxmax(),avg_list.idxmin())
print(avg_list.max(),avg_list.min())

50 58
3.6650848950824937 -3.8338796373689923

In [46]:
rated = np.where(arr!=99)

def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  rated = np.where(arr!=99)
  n_rated = len(rated[0])
  idx = np.random.choice(n_rated, size=int(percentage*n_rated), replace=False)
  new_data[rated[0][idx], rated[1][idx]] = 99
  return new_data, (rated[0][idx], rated[1][idx])

new_arr, idx = replace(arr, 0.1)

# arr = arr.replace(99,np.nan)
# arr = arr.drop(arr.columns[0],axis=1)
data = pd.DataFrame(new_arr)
data = data.replace(99,np.nan)
data

         0     1     2     3     4     5   ...    94    95    96    97    98    99
0     -7.82  8.79 -9.66 -8.16 -7.52 -8.50  ...   NaN   NaN -5.63   NaN   NaN   NaN
1      4.08 -0.29  6.36  4.37 -2.38 -9.66  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2       NaN   NaN   NaN   NaN  9.03  9.27  ...   NaN   NaN   NaN   NaN   NaN   NaN
3       NaN  8.35   NaN   NaN  1.80  8.16  ...   NaN   NaN   NaN   NaN   NaN   NaN
4       NaN  4.61   NaN -5.39   NaN  1.60  ...  5.73  1.55  3.11  6.55  1.80  1.60
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24978  0.44   NaN  9.08  2.33  3.20  6.75  ...  8.45  9.03  6.55  8.69  8.79  7.43
24979  9.13 -8.16  8.59  9.08  0.87 -8.93  ...  9.22 -8.20 -7.23 -8.59  9.13  8.45
24980   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
24981   NaN   NaN   NaN   NaN -9.71   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
24982  2.43  2.67 -3.98  4.27 -2.28   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

[24983 rows x 100 columns]

In [47]:
n_latent_factors = 4

user_ratings = data.values
# Initialise as random values
latent_user_preferences = np.random.random((user_ratings.shape[0], n_latent_factors))
latent_item_features = np.random.random((user_ratings.shape[1], n_latent_factors))

In [48]:
def predict_rating(user_id, item_id):
    """ Predict a rating given a user_id and an item_id.
    """
    user_preference = latent_user_preferences[user_id]
    item_preference = latent_item_features[item_id]
    return user_preference.dot(item_preference)


def train(user_id, item_id, rating, alpha=0.0001):
    #print(item_id)
    predicted_rating = predict_rating(user_id, item_id)
    err =  predicted_rating - rating
    #print(err)
    user_pref_values = latent_user_preferences[user_id]
    latent_user_preferences[user_id] -= alpha * err * latent_item_features[item_id]
    latent_item_features[item_id] -= alpha * err * user_pref_values
    return err

def sgd(iterations):
    """ Iterate over all users and all items and train for 
        a certain number of iterations
    """
    mse_history = []
    for iteration in range(iterations):
        error = []
        for user_id in range(latent_user_preferences.shape[0]):
            for item_id in range(latent_item_features.shape[0]):
                rating = user_ratings[user_id, item_id]
                if not np.isnan(rating):
                    err = train(user_id, item_id, rating)
                    error.append(err)
        mse = (np.array(error) ** 2).mean()   
        if (iteration % 10) == 0:
            print('Iteration %d/%d:\tMSE=%.6f' % (iteration, iterations, mse))
            mse_history.append(mse)
    return mse_history

In [49]:
num_iter = 100

In [50]:
predictions = latent_user_preferences.dot(latent_item_features.T)
predictions

array([[1.062, 0.636, 0.523, ..., 1.089, 1.074, 1.744],
       [0.358, 0.415, 0.789, ..., 0.602, 0.466, 1.065],
       [0.345, 0.329, 0.373, ..., 0.373, 0.317, 0.658],
       ...,
       [0.954, 0.769, 0.549, ..., 0.713, 0.676, 1.309],
       [0.563, 0.886, 0.566, ..., 0.919, 0.686, 1.299],
       [0.995, 0.913, 0.722, ..., 1.19 , 1.045, 1.853]])

In [ ]:
values = [zip(user_ratings[i], predictions[i]) for i in range(predictions.shape[0])]
comparison_data = pd.DataFrame(values)
hist = sgd(num_iter)

Iteration 0/100:	MSE=25.729723

In [ ]:
plt.figure()
plt.plot(np.arange(0, num_iter, 5), hist)
plt.xlabel("Iterations")
plt.ylabel("MSE")
plt.show()
comparison_data.columns = df_jester.columns
comparison_data.to_numpy