<a href="https://colab.research.google.com/github/gibsonx/CE888/blob/master/Lab_4/movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3)

In [32]:
df_movie_users = pd.read_excel('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/movies_latent_factors.xlsx',sheet_name='Users')
df_movie_items = pd.read_excel('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/movies_latent_factors.xlsx',sheet_name='Items')

In [33]:
#Question 6
list_of_values = [854,63,558,607,807]
df_movie_items.loc[df_movie_items['Movie ID'].isin(list_of_values)].sort_values(by='Factor14',ascending=False)

    Movie ID                                      Title  ...  Factor14  Factor15
7         63  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  ... -0.229462  0.432006
52       607           Men in Black (a.k.a. MIB) (1997)  ... -0.229809 -0.949541
64       807                Seven (a.k.a. Se7en) (1995)  ... -0.597342  0.179386
68       854                            The Mask (1994)  ... -1.058431 -0.931746
43       558                        Spider-Man 2 (2004)  ... -2.381119 -0.455753

[5 rows x 17 columns]

In [34]:
latent_item_features = df_movie_items.filter(regex='Factor')
latent_user_preferences = df_movie_users.filter(regex='Factor')

# Matrix multiplication
predictions = latent_item_features.dot(latent_user_preferences.T)
df_movie_users['User']
# Entitle prediction columns as User values
predictions.columns = df_movie_users['User']

# Merge Movie_ID and Title
predictions["key"] = range(predictions.shape[0])
movie_title = df_movie_items.iloc[:,0:2]
movie_title["key"] = range(movie_title.shape[0])
result = pd.merge(movie_title,predictions,on="key")
result.drop(labels='key', axis=1, inplace=True)

In [35]:
#Question 7
q7 = result.loc[:,[3878,'Movie ID','Title']]
q7.loc[(q7["Movie ID"] == 107)]

        3878  Movie ID          Title
12  0.326437       107  Snatch (2000)

In [36]:
#Question 8
q8 = result.loc[:,[2067,'Movie ID','Title']]
q8.loc[(q8["Movie ID"] == 7443)]

        2067  Movie ID               Title
88 -0.124345      7443  Chicken Run (2000)

In [37]:
#Question 9
q9 = result.loc[:,[4469,'Movie ID','Title']]
list_of_values = [8358,857,36657,3049,8467,671,4327]
q9.loc[q9['Movie ID'].isin(list_of_values)].sort_values(by=4469,ascending=False)

        4469  Movie ID                                              Title
69  0.122192       857                         Saving Private Ryan (1998)
89  0.073535      8358                                   Cast Away (2000)
90  0.016965      8467                               Dumb & Dumber (1994)
85 -0.002490      3049                  Ace Ventura: Pet Detective (1994)
97 -0.052109     36657                                       X-Men (2000)
57 -0.085070       671  Harry Potter and the Sorcerer's Stone (a.k.a. ...
86 -0.199980      4327                            Charlie's Angels (2000)

In [38]:
#Question 10
q9 = result.loc[:,[174,'Movie ID','Title']]
list_of_values = [153,8467,77,14,4327,462]
q9.loc[q9['Movie ID'].isin(list_of_values)].sort_values(by=174,ascending=False)

         174  Movie ID                       Title
40 -0.001440       462      Erin Brockovich (2000)
8  -0.096787        77              Memento (2000)
3  -0.411287        14      American Beauty (1999)
20 -0.465392       153  Lost in Translation (2003)
86 -1.337438      4327     Charlie's Angels (2000)
90 -1.370533      8467        Dumb & Dumber (1994)